# Aliases
alias zshconfig="emacs ~/.zshrc"

alias emacs="emacs -nw"

alias clean_merged_branches="git checkout master; git branch -a --merged | grep -v 'master$' | grep -v 'remotes/*' | xargs git branch -D"

alias cuke="cucumber"

alias very="git"

alias much="git"

alias wow="git status"

alias ack=ack-grep

alias be="bundle exec"

export EDITOR="/usr/bin/emacs -nw"

# git aliases
alias gitl="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"

alias gits="git status -sb"

alias gitd="git diff"

alias binst="bundle install -j4"

alias gitco="git checkout"

alias ec="emacsclient"

alias edit="emacsclient"

alias fuck='eval $(thefuck $(fc -ln -1))'
