export SHELL=/bin/zsh
export TERM=xterm-256color
export PATH=$PATH:/usr/local/bin/express

# GO
export GOROOT=/usr/lib/go
export GOPATH=$HOME/.go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

# JRUBY
export JRUBY_OPTS=--2.0

# PATH STUFF
export PATH=$PATH:/home/nifty/bin

# NIMBLE
export PATH=$PATH:/home/nifty/.nimble/bin

# HOMEBREW

export PATH=$PATH:/home/nifty/.linuxbrew/bin
